/* CSS Document */
.help-block{
	color: #c51435;
}
.p-l-5{
padding-left: 5px;
}
#main-menu-navigation.nav {
    display: block;
}
.m-b-10{
	margin-bottom:10px;
}
.previous span{
	position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #009DA0;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
}
.box-border{
    border: 1px solid #ddd;
}.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .product-img-box{
    height: 120px;
    line-height: 120px;
    text-align: center;
  }
  .product-img-box img{
    max-height: 100%;
    max-width: 100%;
  }
  .m0{
      margin: 0px !important;
  }
.tree-view{
    max-height: 500px;
    overflow: auto;
}
.img-banner {
    width: 100%;
    height: 250px;
    text-align: center;
    line-height: 250px;
}
.img-banner img {
    max-width: 100%;
    max-height: 100%;
}.sidebar-logo{
    width: 100%;
}.nav-main a.active>i, .nav-main a:focus>i, .nav-main a:hover>i, .sidebar-inverse #sidebar .nav-main a.active>i, .sidebar-inverse #sidebar .nav-main a:focus>i, .sidebar-inverse #sidebar .nav-main a:hover>i {
    color: #f1f1f1!important;

    font-weight: bolder !important;
}
.alert {
    padding: 20px 28px 4px 20px !important;
    margin-bottom: 24px;
    border: 0 solid transparent;
    border-radius: .25rem;
}