.text-decoration-none, a:hover {
    text-decoration: none !important;
}.eac-item {
    color: #827e7e;
    font-weight: 100 !important;
}
.catImg a {
    display: inline-block;
    vertical-align: middle;
}
a{
    text-decoration: none !important;
}
.easy-autocomplete-container {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    max-height: 500px;
    overflow: auto;
}
.eac-item b {
    color: #000;
}
.easy-autocomplete-container ul li div {   
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}
.easy-autocomplete-container ul li, .easy-autocomplete-container ul .eac-category {
    padding: 10px 12px !important;
    border-bottom: 1px solid #ddd;
}
.close-cart{
    display: block;
    background: url(../img/close.png) no-repeat 25% 25%;
    font-size: 14px;
    /* color: #666; */
    /* padding: 18px 14px 10px; */
    /* font-family: 'corisandeboldregular'; */
    /* text-transform: uppercase; */
    /* border-bottom: 3px solid #fff; */
    position: absolute;
    right: -13px;
    top: -15px;
    border-radius: 15%;
    background-size: cover;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.click-productVBox .btn-BG-product .product-checkout-btn{
    float: right;
}
.text-mute{color:#a9a3a3 !important;}

#productDetails,
#nutritionFacts {
    width: 48%;
    float: left;
    clear: none;
    padding: 0 15px;
}

#nutritionFacts {
    float: right;
}

.container {
    width: 100%;
    max-width: 1368px;
}

.topSection {
    background: #fff;
    width: 100%;
    padding: 10px 0;
    height: auto;
    min-height: 35px;
    font-family: 'corisandeboldregular';
}

.if0 .ifChrt {
    padding: 4px 8px 6px;
    border: solid 1px #000;
}

.if0 .ifTtl {
    font-weight: bold;
    font-size: 18px;
}

.if0 .ifSngSz,
.if0 .ifSngPC {
    font-size: 13px;
}

.if0 .ifHdrSep {
    padding-top: 3px;
    margin: 4px 0 0 0;
    background-color: #000;
}

.if0 .ifAcol {
    width: 25%;
    padding-left: 7px;
    vertical-align: top;
    text-align: center;
}

.if0 .ifAPShdr,
.if0 .ifDVhdr {
    font-weight: bold;
    padding: 3px 0 4px 0;
}

.if0 .ifITbl {
    width: 100%;
    font-size: 11px;
}

.if0 .ifNcol {
    width: 60%;
    vertical-align: top;
    font-size: 12px;
    text-indent: 6px;
}

.if0 .ifColHdrSep {
    background-color: #000000;
    height: 2px;
    margin-bottom: 4px;
}

#productDetails hr {
    margin: 5px;
}

.if0 .ifBl {
    background-color: #000000;
    margin: 5px 0 4px 0;
}

#productDetails p.disclaimer {
    border: 1px solid rgb(0, 0, 0);
    clear: both;
    padding: 3px;
    margin-top: 10px;
}

.productDetailsCon * {
    font-family: 'corisanderegularregular';
}

#productDetails strong .subHdrH2.cf {
    font-size: 18px;
    color: #444;
}

.pro_dec_title {
    clear: both;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
}

.pro_dec_title h3 {
    color: #01216a;
    margin: 0;
    padding: 0 0 15px;
    font-size: 22px;
    font-family: 'corisandelightregular';
    text-transform: uppercase;
    border-bottom: 1px solid #eeeeee;
}

.topLt {}

.topLt h3 {
    font-size: 14px;
    color: #0076b4;
    margin: 4px 0 0;
    padding: 0;
}

.topLt span {
    color: #cb3a49 !important;
}

.topMid {}

.topMid h3 {
    font-size: 14px;
    color: #18a87d;
    font-family: 'corisanderegularregular';
    margin: 3px 0 0;
    padding: 0;
    text-align: center;
}

.topMid h3 img {}

.topRt {}

.topRt ul {
    margin: 0;
    padding: 0;
    float: right;
}

.topRt ul li {
    display: block;
    float: left;
    list-style: none;
    position: relative;
}

.topRt ul li a {
    font-size: 12px;
    text-transform: uppercase;
    color: #666;
    text-decoration: none;
    padding: 0 4px 0 25px;
}

.topRt ul li:hover a {
    color: #48b5ef;
}

.dropbg {
    background: url(../img/livedropbg.png) no-repeat top center;
    width: 320px;
    height: 167px;
    position: absolute;
    z-index: 999999;
    top: -5px;
    left: -110px;
    padding: 40px 0 0;
    display: none;
}

.topRt ul li:hover .dropbg {
    background: url(../img/livedropbg.png) no-repeat top center;
    width: 320px;
    height: 167px;
    position: absolute;
    z-index: 999999;
    padding: 40px 0 0;
    display: block;
}

.dropbg h2 {
    font-size: 22px;
    font-family: 'corisanderegularregular';
    display: block;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #012169;
}

.dropbg a {
    display: block;
    background: #07689b url(../img/arrow.png) no-repeat 95% 50%;
    font-size: 16px !important;
    color: #fff !important;
    text-decoration: none;
    padding: 8px 10px !important;
    width: 95%;
    margin: 12px auto;
    float: none !important;
}

.topblueBar {
    width: 100%;
    clear: both;
    background: #012169;
    min-height: 20px;
}

.blueBar-Right {}

.blueBar-Right ul {
    float: right;
    margin: 0;
    padding: 0;
}

.blueBar-Right ul li {
    display: block;
    float: left;
    list-style: none;
    border-left: #344d87 1px solid;
    color: #fff;
    /* cursor: pointer; */
}

.blueBar-Right ul li a {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'corisandeboldregular';
    color: #fff;
}

.signin a {
    background: #011c5a url(../img/signup-icon-1.png) no-repeat 15px 50%;
    padding: 18px 28px 18px 65px;
    display: block;
}

.reorder a {
    background: #011c5a url(../img/reorder_button_website.jpg) no-repeat 15px 50%;
    padding: 18px 25px 18px 50px;
    display: block;
}

.signin a:hover {
    background: #fff url(../img/signup-icon-hover.png) no-repeat 15px 50%;
    /* padding: 18px 28px 18px 65px; */
    display: block;
    color: #000;
}

.reorder a:hover {
    background: #fff url(../img/reorder_button_website_blue.jpg) no-repeat 15px 50%;
    /*padding: 18px 25px 18px 50px;*/
    display: block;
    color: #000;
}

.cartlink {
    padding: 18px 16px;
    display: block;
    background: #011c5a;
    position: relative;
}

.cartlink:hover {
    /*padding: 18px 16px;*/
    display: block;
    background: #fff;
}

.cartlink i {
    display: block;
    width: 30px;
    height: 18px;
    background: url(../img/spriteIcons.png) no-repeat 0 -184px;
}

.cartlink:hover i {
    display: block;
    width: 30px;
    height: 18px;
    background: url(../img/spriteIcons.png) no-repeat 0 -222px;
}

.count {
    font-size: 12px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 5px;
    right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 100%;
    font-family: 'corisanderegularregular';
}

.cartlink:hover .count {
    font-size: 12px;
    text-align: center;
    color: #011c5a;
    position: absolute;
    top: 5px;
    right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #011c5a;
    border-radius: 100%;
    font-family: 'corisanderegularregular';
}

.logo img {
    margin: 9px 0 0;
    padding: 0;
    width: 50%;
}

.searchbox {
    width: 100%;
    clear: both;
    border: 1px solid #0076b4;
    height: 44px;
}

.mainNavBar {
    width: 100%;
    clear: both;
    overflow: inherit;
    padding: 3px 0 0;
    position: relative;
    box-shadow: 2px 0 2px #000;
}

.searchbtn {
    background: #0076b4;
    width: 100px;
    height: 42px;
    text-align: center;
    border: none;
    color: #fff;
    position: absolute;
    top: 1px;
    right: 15px;
    z-index: 88888;
}

input.searchfield {
    width: 100%;
    padding: 0 0 0 0;
    background: url(../img/searchicon.png) no-repeat 15px 50%;
    height: 44px;
    border: none;
    padding: 0 100px 0 55px;
    font-size: 12px;
    font-style: italic;
    font-family: 'corisanderegularregular';
}

input.searchfield:focus {
    background: none;
    height: 44px;
    border: none;
    padding: 0 100px 0 15px;
}

.navarea {}

.navarea ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}

.navarea ul li {
    display: block;
    list-style: none;
    float: left;
    padding: 0 0 0 25px;
}

.navarea ul li:first-child {
    padding: 0;
}

.navarea ul li a {
    display: block;
    background: url(../img/downarrow.png) no-repeat 0 50%;
    font-size: 14px;
    color: #666;
    padding: 12px 15px 11px;
    font-family: 'corisandeboldregular';
    text-transform: uppercase;
    border-bottom: 3px solid #fff;
}

.navarea ul li.opened a {
    background: url(../img/uparrow.png) no-repeat 0 50%;
}

.navarea ul li:hover a,
.navarea ul li.opened a {
    display: block;
    border-bottom: 3px solid #0076b4;
    text-decoration: none;
}

.sliderArea {
    width: 100%;
    clear: both;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.sliderArea img {
    display: block;
    width: 100%;
    height: auto;
}

.tagsection.tagsection-bg-wht {
    background: #fff;
}

.tagsection.tagsection-bg-wht h3 {
    background-color: #fff;
}

.tagsection {
    background: #ececec;
    text-align: center;
    padding: 0 0;
}

.tagsection h3 {
    padding: 26px 0;
    background-color: #ececec;
    color: #012169;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'corisandeboldregular';
    clear: both;
    text-align: center;
    margin: 0;
}

footer {
    width: 100%;
    overflow: hidden;
    background: #333333;
    padding: 49px 120px 0px;
    clear: both;
}

.foottitle {}

.foottitle h4 {
    color: #f4f4f4;
    font-family: 'corisandeboldregular';
    font-size: 36px;
    margin: 0 0 28px;
    padding: 0;
}

.footcon {}

.footcon h2 {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 15px;
    padding: 0;
    color: #f6f6f6;
    font-family: 'corisandeboldregular';
}

.footcon h2 span {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #f6f6f6;
    font-family: 'corisandelightregular';
}

.footcon ul {
    margin: 0;
    padding: 0;
}

.footcon ul li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footcon ul li a {
    font-family: 'corisandelightregular';
    font-size: 14px;
    color: #999999;
    line-height: 32px;
    text-decoration: none;
    display: block;
}

.footcon ul li:hover a {
    color: #f4f4f4;
}

.footbottom {
    width: 100%;
    clear: both;
    overflow: hidden;
    text-align: center;
    background: #303030;
    padding: 25px 0;
    margin: 25px 0 0
}

.footbottom ul {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.footbottom ul li {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 15px 0;
    padding: 0;
    color: #f6f6f6;
    font-family: 'corisandeboldregular';
    display: inline-block;
    text-align: center;
}

.footbottom ul li span {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #f6f6f6;
    font-family: 'corisandelightregular';
}

.productslider.productslider-wht {
    background: #fff;
}

.productslider {
    background: #f4f4f4;
    overflow: hidden;
    padding: 0 0 15px;
}

.productslider ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}

.productslider ul li {
    display: block;
    float: left;
    list-style: none;
    width: 20%;
    border-right: 2px solid #e5e5e5;
    padding: 25px 20px;
}

.productslider ul li:last-child {
    border: none;
}

.produtbox {
    padding: 10px;
    overflow: hidden;
}

.proimg {
    float: left;
    width: 50%;
    padding: 15px 0;
}

.proimg img {
    width: 100%;
}

.p-details {
    float: left;
    width: 50%;
    padding-left: 20px;
}

.produtbox h3 {
    font-size: 12px;
    margin: 0 0 5px;
    padding: 0;
    text-transform: uppercase;
    color: #012169;
    font-family: 'corisandelightregular';
}

.produtbox h1 {
    font-size: 14px;
    margin: 0 0 10px;
    padding: 0;
    text-transform: uppercase;
    color: #0578b5;
    font-family: 'corisanderegularregular';
}

.produtbox h1 a {
    font-size: 14px;
    margin: 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #0578b5;
    font-family: 'corisanderegularregular';
    line-height: 20px;
}

.produtbox h4 {
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #666;
    font-family: 'corisandeboldregular';
}

.addtocart {
    width: 80px;
    height: 26px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    font-family: 'corisanderegularregular';
    display: block;
    background: #0076b4;
    padding: 5px 0;
    margin: 20px 0 0;
    position: relative;
}

.addtocart:hover {
    background: #000;
    color: #fff;
    text-decoration: none;
}

.contentsection {
    width: 100%;
    clear: both;
    overflow: hidden;
    background: #fff;
    padding: 50px 0;
}

.producttitlearea.producttitlearea-wht {
    background-color: #fff;
}

.producttitlearea {
    width: 100%;
    clear: both;
    overflow: hidden;
    padding: 15px 0;
    background-color: #ececec;
}

.producttitlearea h2 {
    padding: 0 15px;
    color: #012169;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'corisandeboldregular';
    clear: both;
    text-align: center;
    margin: 0;
}

.iconSection {
    width: 100%;
    clear: both;
    overflow: hidden;
    text-align: center;
    padding: 80px 0;
}

.iconSection ul {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.iconSection ul li {
    display: block;
    text-align: center;
    list-style: none;
    width: 20%;
    float: left;
}

.iconSection ul li a {
    font-size: 190%;
    font-family: corisandebold;
    color: #0377B4;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
    display: inline-block;
    font-family: 'corisandeboldregular';
    line-height: 36px;
}

.iconSection ul li a img {
    display: block;
    margin: 0 auto 25px;
}

.iconSection ul li a span {
    display: block;
    clear: both;
}

.iconSection ul li a:hover {
    text-decoration: none;
}

.dropsignin {
    background: #fff url(../img/drawerBg.png) repeat-y center 0;
    border-bottom: #d7d7d7 1px solid;
    width: 100%;
    overflow-y: hidden;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    min-height: 600px;
    padding: 35px 0;
}

.logoin {
    width: 324px;
    float: left;
    clear: both;
    margin-bottom: 45px
}

.logoin h3 {
    color: #012169;
    font-size: 22px;
    margin: 0 0 20px;
    padding: 0;
    font-family: 'corisanderegularregular';
}

.signinform {
    width: 100%;
    clear: both;
    overflow: hidden;
}

.signinform input {
    display: block;
    width: 100%;
    clear: both;
    overflow: hidden;
    height: 42px;
    border: 1px solid #d7d7d7;
    font-family: 'corisanderegularregular';
    font-size: 14px;
    padding: 0 12px;
    margin: 0 0 15px;
}

.signinform input.loginbtn {
    width: 140px;
    height: 37px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    float: left;
    font-family: 'corisanderegularregular';
    display: block;
    background: #0076b4;
    padding: 5px 0;
    margin: 0 0 0;
}

.signinform input.loginbtn:hover {
    background: #000;
    color: #fff;
    text-decoration: none;
}

.signinform a {
    font-size: 14px;
    margin: 10px 0 0;
    padding: 0 15px 0 0;
    text-transform: uppercase;
    color: #0578b5;
    font-family: 'corisanderegularregular';
    line-height: 20px;
    background: url(../img/icon-2.png) no-repeat 100% 50%;
    float: right;
}

.logoin p {
    color: #666;
    font-size: 14px;
}

.srCon h3 {
    color: #012169;
    font-size: 22px;
    margin: 0 0 20px;
    padding: 0;
    font-family: 'corisanderegularregular';
}

.srCon ul {
    margin: 25px 0 0;
    overflow: hidden;
    float: left;
    clear: both;
    width: 100%;
    padding: 0;
}

.srCon ul li {
    display: block;
    clear: both;
    color: #666;
    font-size: 14px;
    background: url(../img/icon1.png) no-repeat 0px 8px;
    padding: 0 0 0 20px;
    margin: 0 0 10px;
}

.awardimg {
    float: left;
    margin: 0 10px 0 0;
}

.margin-top {
    margin-top: 35px;
    clear: both;
    display: block;
    float: left;
    font-size: 14px;
}

.dropCart {
    width: 382px;
    background: #f1f1f0;
    height: auto;
    padding: 17px 20px;
    position: absolute;
    top: 54px;
    right: 1px;
    z-index: 9999999999999999999;
}

section#myContent1 hr {
    margin: 0;
}

.dropCart p {
    text-align: center;
    font-size: 16px;
    color: #666666;
    margin-bottom: 18px;
}

.dropCart h3 {
    margin: 0 0 20px;
    padding: 0;
    width: 100%;
    text-align: right;
    color: #6c6c6c;
    font-size: 15px;
}

.dropCart h4 {
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.mm-listview li a,
.mm-listview li span {
    text-transform: uppercase;
    font-family: 'corisanderegularregular';
    color: #011c5a !important;
    font-size: 14px !important
}

.mm-menu .mm-listview>li .mm-next::after {
    border-color: #011c5a !important;
}

.breadcrumbArea {
    width: 100%;
    background: #f4f4f4;
    overflow: hidden;
    padding: 10px 0;
}

.breadcrumbArea ul {
    margin: 0;
    padding: 0;
    float: left;
}

.breadcrumbArea ul li {
    display: block;
    float: left;
    list-style: none;
    text-transform: uppercase;
    font-family: 'corisandelightregular';
    font-size: 12px;
    color: #868686;
    background: url(../img/arrow-1.png) no-repeat 100% 50%;
    padding: 0 15px 0 9px;
}

.breadcrumbArea ul li a {
    font-size: 12px;
    font-family: 'corisanderegularregular';
    color: #5b5b5d;
    text-transform: uppercase;
}

.breadcrumbArea ul li:first-child {
    padding-left: 0 !important;
}

.breadcrumbArea ul li:last-child {
    background: none !important;
}

.categoryMainContent {
    width: 100%;
    clear: both;
    overflow: hidden;
    padding: 35px 0;
}

.pagetitle {}

.pagetitle h2 {
    color: #4d4d4f;
    font-size: 42px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-family: 'corisandelightregular';
}

.leftside ul {
    margin: 0;
    padding: 0;
}

.leftside ul li {
    display: block;
    margin: 15px 0;
    padding: 0;
    list-style: none;
    clear: both;
}

.leftside ul li a {
    display: block;
    clear: both;
    text-decoration: none;
    font-family: 'corisandelightregular';
    font-size: 16px;
    font-weight: 600;
    color: rgb(77, 77, 79);
}

.cat-product-con {
    width: 33.333%;
    float: left;
    text-align: center;
    padding: 20px;
    position: relative;
    border: 0px solid #ccc;
}

.cat-product-con:hover {
    box-shadow: 0 3px 16px 0 #01216978;
}

.cat-product-con:hover .catImg a img {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    /* transform: scale(1.05); */
}

.cat-product-con:hover .catImg a img {
    -webkit-transition: -moz-transform 0.8s ease-out !important;
    -moz-transition: -webkit-transform 0.8s ease-out !important;
    -o-transition: -o-transform 0.8s ease-out !important;
    transition: transform 0.8s ease-out !important;
}

.tagicon {
    position: absolute;
    top: 0;
    right: 25px;
}

.cat-product-con h4 {
    color: #2e93cb;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'corisandelightregular';
    font-weight: 600;
    text-transform: uppercase;
}

.catImg {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 25px 0;
    overflow: hidden;
    height: 230px;
    line-height: 180px;
}

.catImg img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    width: 100%;
}

.cat-product-con h1 {
    font-family: 'corisandelightregular';
    color: rgb(1, 33, 105);
    font-size: 18px;
    word-break: break-word;
    font-weight: 600;
    margin: 15px 0;
    padding: 0;
    text-transform: uppercase;
}

.cat-product-con h1 a {
    font-family: 'corisandelightregular';
    color: rgb(1, 33, 105);
    font-size: 15px;
    word-break: break-word;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    display: block;
    /* max-width: 400px; */
    height: 60.2px;
    /* font-size: 26px; */
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cat-product-con h5 {
    color: #2f92c9;
    font-size: 14px;
    font-family: 'corisandelightregular';
    margin: 0;
    padding: 0;
}

.cat-product-con .c-price {
    color: #969696;
    font-size: 18px;
    font-family: 'corisandelightregular';
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.cat-product-con .sale-price {
    color: #c00;
    font-size: 16px;
    font-family: 'corisandelightregular';
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-top: 5px;
}

.cat-product-con a.addtocart {
    font-size: 12px;
    width: 170px;
    height: 35px;
    float: none;
    margin: 25px auto 0;
    padding: 10px 0;
    text-transform: uppercase;
    opacity: 0;
}

.cat-product-con:hover a.addtocart {
    opacity: 1;
}

.paginationArea {
    width: 100%;
    clear: both;
    background: #ccc;
    overflow: hidden;
}

.paginationList {
    float: left;
}

.paginationList ul {
    margin: 0;
    padding: 0;
    float: left;
}

.paginationList ul li {
    display: block;
    list-style: none;
    float: left;
}

.paginationList ul li a {
    display: block;
    text-align: center;
    font-size: 16px;
    font-family: 'corisandelightregular';
    color: #002169;
    font-weight: 600;
    padding: 15px 20px;
    text-transform: uppercase;
}

.paginationList ul li:hover a {
    background: #e4e4e4;
    text-decoration: none;
}
.m-20{
    margin: 20px 0;
}
.paginationList ul li.next a {
    background: url(../img/icon-3.png) no-repeat 85% 50%;
    padding: 15px 30px 15px 15px;
}

.paginationList ul li.next:hover a {
    background: #e4e4e4 url(../img/icon-3.png) no-repeat 85% 50%;
}

.pagetitle {
   
    padding-bottom: 20px;
}
.breadcrumbArea ul.printemaillink {
    float: right;
}

.breadcrumbArea ul.printemaillink li {
    background: none !important;
    padding: 0 0 0 15px !important;
}

.vieweditems {
    text-align: center;
    background: #f4f4f4;
    padding: 10px 15px;
}

.vieweditems h2 {
    color: #02226b;
    font-family: 'corisanderegularregular';
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}

.similaritems {
    text-align: center;
    background: #f4f4f4;
    padding: 10px 15px;
}

.similaritems h2 {
    color: #02226b;
    font-size: 56px;
    font-family: 'corisandelightregular';
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.similaritemsList ul {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.similaritemsList ul li {
    display: block;
    list-style: none;
    width: 25%;
    border: 1px solid #ccc;
    float: left;
}

.similaritemsList ul li .cat-product-con {
    width: 100%;
    border: none;
}

.similaritemsList ul li .cat-product-con h5 {
    color: #323232;
    font-family: 'corisanderegularregular';
}

.productDetailsCon {
    width: 100%;
    clear: both;
    overflow: hidden;
    padding: 15px 0;
}

.productDetailsCon h2 {
    color: #01216a;
    margin: 0;
    padding: 0;
    font-size: 42px;
    font-family: 'corisandelightregular';
    text-transform: uppercase;
}

.productDetailsCon h2 span {
    font-family: 'corisandeboldregular';
}

.productInfo {
    width: 100%;
    clear: both;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
}

.productInfo h3 {
    color: #01216a;
    margin: 0;
    padding: 0 0 15px;
    font-size: 22px;
    font-family: 'corisandelightregular';
    text-transform: uppercase;
    border-bottom: 1px solid #eeeeee;
}

.productInfo h3 span {
    font-family: 'corisandeboldregular';
}

.infocon {
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
}

.infocon ul {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}

.infocon ul li {
    display: block;
    list-style: none;
    margin: 0 0 15px;
    font-size: 14px;
    font-family: 'corisanderegularregular';
    color: #a0a0a0;
}

.infocon ul li span {
    color: #767676;
    display: block;
    float: left;
    width: 200px;
}

.productinfoarea {
    padding-top: 35px;
}

.productinfoarea h4 {
    font-family: 'corisandeboldregular';
    font-size: 18px;
    margin: 0 0 15px 0;
    padding: 0;
    color: #01216a;
    text-transform: uppercase;
}

.productinfoarea ul {
    margin: 0 0 15px 20px;
    padding: 0;
}

.productinfoarea ul li {
    display: block;
    background: url(../img/icon1.png) no-repeat 0 50%;
    font-size: 14px;
    color: #666666;
    font-family: 'corisanderegularregular';
    padding: 0 0 0 20px;
}

.productinfoarea p {
    margin: 0 0 15px;
    padding: 0;
    color: #666666;
    text-align: justify;
    font-family: 'corisanderegularregular';
}

.factsDetailsCon {}

.factsDetailsCon {
    width: 100%;
    clear: both;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

.factsDetailsCon h3 {
    color: #01216a;
    margin: 0;
    padding: 0 0 15px;
    font-size: 22px;
    font-family: 'corisandelightregular';
    text-transform: uppercase;
    border-bottom: 1px solid #eeeeee;
}

.factsDetailsCon h3 span {
    font-family: 'corisandeboldregular';
}

.factsDetailsCon .productInfo {
    border: none;
}

.factsDetailsCon h4 {
    color: #01216a;
    font-family: 'corisanderegularregular';
}

.producttable {
    width: 100%;
    clear: both;
    overflow: hidden;
    border-bottom: 2px solid #666;
    border-top: 2px solid #666;
}

.producttable table {
    width: 100%;
}

.producttable table td,
.producttable table th {
    font-size: 13px;
    color: #666;
    text-align: right;
    border-bottom: 1px solid #ccc;
    padding: 2px 0;
}

.producttable table td.leftalign {
    text-align: left;
}

.ingredients h4 {
    font-family: 'corisandeboldregular';
    font-size: 18px;
    margin: 0 0 15px 0;
    padding: 0 30px;
    color: #01216a;
    text-transform: uppercase;
}

.ingredients p {
    font-size: 14px;
    padding: 0 30px;
    font-family: 'corisanderegularregular';
}

.utility-m-b-30 {
    margin-bottom: 30px;
}

/******product detail page css ******/

.product-slider .item img {
    width: 50%;
    height: 100% !important;
    margin: 0 auto;
}

.product-slider .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 370px;
    top: 50px;
}

.product-slider a.right.carousel-control,
.product-slider a.left.carousel-control {
    background-image: none;
    color: #012169 !important;
}

.prodct-tilte small {
    color: #666;
    text-transform: capitalize;
    font-size: 14px;
    font-family: corisanderegularregular;
    font-weight: 500;
}

.prodct-tilte h2 {
    font-size: 34px;
    color: #666;
    text-transform: uppercase;
    font-family: corisanderegularregular;
    font-weight: bolder;
    margin: 0;
}

.product-main-div {
    padding: 60px 0 50px 0;
}

.product-slider .carousel-indicators {
    bottom: -100px;
}

.product-price span.price-product {
    font-size: 46px;
    color: #012169;
    margin-top: 10px;
    display: block;
    font-family: corisanderegularregular;
}

.product-price span.price-product span {
    font-size: 14px;
    text-transform: uppercase;
    color: #959595;
}

.use-code span {
    color: #cb3a49;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-top: 20px;
    font-family: corisanderegularregular;
}

.product-select select#sel1 {
    height: 40px;
    border-radius: 0;
}

.product-select select#sel1 option {
    color: #666666;
    background: #fff;
    padding: 10px 0;
    display: block;
    font-size: 15px;
    font-weight: 600;
}

.product-select select#sel1 {
    color: #666666;
    background: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

span.select-arrow {
    position: absolute;
    background-color: #ccc;
    width: 50px;
    height: 40px;
    display: inline-block;
    right: 1px;
    top: 0;
}

/* span.select-arrow {

    position: absolute;

    background-color: #0076b4;

    width: 50px;

    height: 40px;

    display: inline-block;

    right: 1px;

    top: 0;

} */

.product-select .form-group {
    position: relative;
}

/* span.select-arrow {

    position: relative;

} */

.product-select {
    margin-top: 30px;
}

.product-cart-incres span.input-group-btn {
    display: block;
}

.product-cart-incres span.input-group-btn button.btn.btn-danger.btn-number,
.product-cart-incres span.input-group-btn button.btn.btn-success.btn-number {
    background: #e4e4e4;
    border: none;
    color: #666;
    margin: 2px 0 0 0;
    font-size: 11px;
    border-radius: 0;
}

.product-cart-incres {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}

.product-cart-incres input.form-control.input-number {
    border: none;
    color: #0076b4;
    font-size: 23px;
    font-weight: bold;
    height: 60px;
}

.product-cart-incres .btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: none !important;
    background-color: #b9b9b9 !important;
    border: 0;
}

.product-cart-incres .btn.active,
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none !important;
    /* box-shadow: inset 0 3px 5px rgba(0,0,0,.125); */
    background-color: #b9b9b9 !important;
}

.prodct-cart-btn {
    margin-top: 50px;
}

.prodcut-btnCart {
    width: calc(100% - 54px);
    display: inline-block;
    padding-left: 50px;
    vertical-align: middle;
}

.prodct-cart-btn .prodcut-btnCart .atc-btn-center {
    font-size: 19px;
    background-color: #0076b4;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 0px;
    margin: 0px;
    max-width: 100%;
    width: 95%;
    float: right;
    font-weight: 600;
    border: 1px solid #0076b4;
    font-family: corisanderegularregular;
}

.prodct-cart-btn .prodcut-btnCart .atc-btn-center:hover {
    background-color: #07689b;
}

.header-bluelable {
    background-color: #00b5ef;
    width: 100%;
    padding: 14px 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.bg-menuwhite {
    background-color: #F1F1F0;
    /* padding: 20px 0; */
    max-width: 1338px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.bg-menuwhite .row {
    height: 100%;
}

.sum-menu-style ul {
    padding: 0;
}

.sum-menu-style ul li {
    background: none;
    /* padding: 10px 14px; */
    display: block;
    width: 100%;
}

.sum-menu-style {
    background-color: #fff;
    /* padding: 10px; */
    width: 100%;
    padding-top: 2px;
    height: 100%;
}

.sum-menu-style ul li a {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: #666;
    font-weight: 600;
}

.bredcumb-ul li:last-child a {
    color: #868686 !important;
}

/* .sum-menu-style ul li {

    background: none;

    padding: 10px 0;

} */

.sum-menu-style ul li:first-child {
    padding-left: 0 !important;
}

.sum-menu-style ul li:hover {
    background-color: #0076b4 !important;
    color: #fff;
}

.sum-menu-style ul li a:hover {
    text-decoration: none;
    color: #fff;
}

.sum-menu-style ul li a {
    padding: 10px 8px;
}

.sum-menu-style ul li {
    padding: 0;
}

.menu-title h3 {
    color: #0076b4;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'corisandeboldregular';
}

.menu-title h3 span {
    background: url(../img/spriteIcons.png) no-repeat 0 48.5%;
    font-size: 14px;
    color: #666;
    padding: 12px 15px 11px;
    font-family: 'corisandeboldregular';
    text-transform: uppercase;
    display: inline-block;
}

.menu-category {
    width: 25%;
    float: left;
    padding: 5px;
    height: 200px;
}

.menu-category ul li {
    list-style: none;
}

.menu-category ul {
    padding: 0;
    min-height: 130px;
}

.menu-category span {
    color: #012169;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 7px;
    display: block;
    text-transform: uppercase;
    font-family: 'corisandeboldregular';
}

.menu-category ul li a:hover {
    text-decoration: none;
}

.menu-category ul li a {
    font-family: 'corisandeboldregular';
    color: #666;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 0;
    display: block;
    font-weight: 600;
}

.right-arrowSpan {
    background: url(../img/spriteIcons.png) no-repeat 0 38%;
    font-size: 14px;
    color: #666;
    padding: 12px 15px 11px;
    font-family: 'corisandeboldregular';
    text-transform: uppercase;
    display: inline-block !important;
    position: relative;
    top: 12px;
    left: -5px;
}

.tog-menu-header {
    background-color: #F1F1F0;
    height: 100%
}

.header-menu-top {
    height: 0px;
    overflow: hidden;
    transition: height 1s;
}

.header-menu-top.opened {
    height: 450px;
}

a.shopAll {
    font-size: 14px;
    color: #0076b4;
    padding: 5px 0;
    font-family: 'corisandeboldregular';
}

a.shopAll:hover {
    color: #00b5ef;
    text-decoration: none;
}

.sum-menu-style ul li.active {
    background-color: #0076b4 !important;
}

.sum-menu-style ul li.active a {
    color: #fff !important;
}

#mm-blocker {
    background: rgba(0, 0, 0, 0.3) !important;
}

#menu .mm-hasnavbar .mm-listview li a,
#menu .mm-hasnavbar .mm-listview li span {
    font-size: 13px !important;
    font-weight: 600;
    color: #012169;
}

#menu {
    background: #fff !important;
}

.product_select_menu::after {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 45px;
    background-color: #eee;
    content: "\e114";
    font-family: 'Glyphicons Halflings';
    line-height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-left: none;
    z-index: 0;
}

.product_select_menu:hover::after {
    background-color: #0076b4;
    color: #FFF;
}

.product_select_menu select {
    background-color: transparent !important;
    z-index: 99;
    -webkit-appearance: none;
}

.product-slider {
    text-align: center;
    height: 300px;
}

.product-slider img {
    max-width: 100%;
    display: inline-block;
    max-height: 100%;
}

/* cart page css */

.li-product {
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.cart-maindiv ul {
    width: 100%;
}

.img-cart-div {
    float: left;
    width: 75px;
    height: auto;
    margin-right: 14px;
    border-left: #344d87 0px solid !important
}

.img-cart-div img {
    width: 100%;
    height: 90px;
    object-fit: scale-down;
}

.data-cart-div {
    float: left;
    width: calc(100% - 100px);
}

.data-cart-div span.product-title {
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    padding-bottom: 3px;
    font-family: 'corisanderegularregular';
}

.data-cart-div span.product-name {
    color: #012169;
    display: block;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    padding-bottom: 3px;
    font-family: 'corisanderegularregular';
}

.data-cart-div span.product-qty {
    color: #666;
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    font-family: 'corisanderegularregular';
}
.line-through {
    font-size: 21px;
    text-decoration: line-through;
    margin-top: 0;
}
ul.cart-ul li {
    width: 100%;
    border-left: 0 !important;
}

ul.cart-ul {
    overflow-y: auto;
    max-height: 293px;
}

.btn-checkout a.check-out {
    padding: 12px 18px;
    width: 52%;
    margin: 0 auto;
    line-height: normal;
    height: auto;
}
.btn-site{
   
    text-align: center;
    color: #fff;
    display: block;
    background: #0076b4;
}
.cart-orderover h4 {
    color: #012169;
    font-size: 13px;
    display: block;
    margin: 20px 0;
}

.subtotal {
    margin-top: 20px;
    display: block;
}

hr {
    border-top: 1px solid #ddd !important;
}

.product-list-ul .page-item span {
    display: none;
}

.product-list-ul .page-item.active {
    background: #0076b4;
}

.product-list-ul .page-item.active a {
    color: #fff;
}

/* cart page css */

/* .tog-menu-header{ display: none;} */

/******product detail page css ******/

/******shopping page css ******/

.title-cart h1,
.cart-check-btn.add-summary h3 {
    color: #012169;
    font-size: 34px;
    font-family: 'corisandeboldregular';
    text-transform: capitalize;
    font-weight: bold;
}

.title-cart {
    float: left;
}

.cart-check-btn {
    float: right;
}

button.checkout-btn,
a.checkout-btn {
    background-color: #0076b4;
    border: 1px solid #0076b4;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 20px;
    font-family: 'corisandeboldregular';
}

.cart-check-btn {
    float: right;
    padding-top: 16px;
}

.tital-btn {
    padding: 14px 0 14px 0;
}

button.checkout-btn:hover,
a.btn-continue:hover {
    background-color: #065179;
}

.bg-product-wht {
    background-color: #fff;
    /* box-shadow: 0 2px 7px 0px #ddd; */
    margin: 10px 0 30px 0;
    width: 100%;
    /* border: 1px solid #ddd; */
    max-height: 626px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

.product-box-cart {
    box-shadow: 0px 1px 2px 1px #ddd;
}

.bg-product-wht .row {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    /* padding-bottom: 10px; */
}

.bg-product-wht .row:last-child {
    border-bottom: none;
}

.img-cart {
    width: 150px;
    height: 150px;
    float: left;
    line-height: 150px;
    text-align: center;
}

.img-cart img {
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    vertical-align: middle;
    width: auto;
    height: 150px;
}

.remove-product {
    text-align: center;
    font-family: 'corisandeboldregular';
    line-height: 0;
}

.remove-product a {
    display: block;
    font-size: 16px;
    vertical-align: middle;
}

.remove-product a span {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    color: #bdb6b6;
    font-family: 'corisandeboldregular';
    text-transform: uppercase;
}

.remove-product a:hover {
    text-decoration: none;
}

.cart-img-data {
    float: left;
    margin-left: 5px;
}

span.vitmsapn,
span.vitmsapn-item,
span.vitmsapn-point {
    text-transform: capitalize;
    color: #666;
    display: block;
    font-size: 14px;
    font-family: 'corisandeboldregular';
}

h4.cart-title-img {
    color: #012169;
    text-transform: capitalize;
    font-size: 18px;
    display: block;
}

.gray-bg-incras {
    background-color: #ECECEC;
    padding: 30px 10px 10px 10px;
    height: 100%;
    width: 100%;
    border-left: 1px solid #ddd;
}

.product-cart-img {
    padding: 16px 16px 30px 16px;
}

.incres-price-light {
    float: left;
    width: 25%;
    vertical-align: middle;
}

.incres-div {
    float: left;
    width: 50%;
    vertical-align: middle;
}

.incres-price-dark {
    float: left;
    width: 25%;
    vertical-align: middle;
}

.incres-price-light span {
    display: inline-block;
    color: #b5b5b5;
    font-size: 14px;
    font-family: 'corisandeboldregular';
    line-height: 60px;
}

.incres-price-dark span {
    display: inline-block;
    color: #666;
    font-size: 14px;
    font-family: 'corisandeboldregular';
    line-height: 60px;
    font-weight: bold;
}

.gray-bg-incras span.input-group-btn {
    display: block;
}

.gray-bg-incras button.btn.btn-number {
    display: block;
    margin-bottom: 5px;
}

.gray-bg-incras button.btn.btn-number {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
    border-radius: 0;
    color: #757171;
    padding: 5px 8px;
}

.inputdiv {
    float: left;
    width: 70px;
}

.inputdiv-btn {
    float: left;
    overflow: hidden;
}

.inputdiv input {
    height: 60px;
    text-align: center;
    border: 0;
    color: #0076b4;
}

.bg-product-wht-total {
    float: right !important;
    display: inline-block;
    width: 100%;
}

.price-box-podcut.clearifx {
    width: 400px;
    float: right;
    background-color: #fff;
    box-shadow: 0px 1px 2px 1px #ddd;
    margin-bottom: 50px;
    padding: 14px 0 0 0;
}

.onewht-total {
    width: 100%;
    display: block;
    padding: 0 10px;
}

span.left-sec-product {
    text-align: left;
    width: 70%;
    float: left;
    text-transform: capitalize;
    color: #666;
    font-family: 'corisandeboldregular';
}

span.right-sec-product {
    text-align: right;
    width: 30%;
    float: right;
    text-transform: capitalize;
    color: #666;
    font-family: 'corisandeboldregular';
}

.onewht-total.sub-blue {
    display: inline-block;
    width: 100%;
    background-color: #f1efef;
    padding: 14px 10px;
    border-top: 1px solid #ddd;
    font-family: 'corisandeboldregular';
    margin-top: 20px;
    vertical-align: bottom;
}

.onewht-total.sub-blue span {
    color: #012169;
    font-size: 14px;
    font-weight: bold;
    font-family: 'corisandeboldregular';
}

span.icon-abou {
    color: #666 !important;
    display: inline-block;
}

.cart-check-btn.sec-check-btn {
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
}

.customsec-product {
    background-color: #fff;
    box-shadow: 0 2px 7px 0px #ddd;
    margin: 10px 0 30px 0;
    width: 100%;
    border: 1px solid #ddd;
}

.customTitle-div {
    background-color: #012169;
    padding: 8px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    font-family: 'corisandeboldregular';
}

.product-div-sec {
    padding: 20px 100px;
}

.product-sec-part {
    width: 25%;
    float: left;
    text-align: center;
    padding: 0 10px;
    margin: 10px 0;
}

.product-sec-part img {
    width: 200px;
    height: auto;
    padding: 10px;
}

h4.titleD {
    font-size: 22px;
    color: #0076b4;
    text-transform: capitalize;
    margin: 6px 0 10px 0;
    font-family: 'corisandeboldregular';
}

p.priceD {
    font-size: 20px;
    color: #FF5722;
    font-family: 'corisandeboldregular';
}

p.priceD span {
    font-size: 10px;
    vertical-align: top;
    padding-top: 3px;
    display: inline-block;
}

.cart-check-btn.vita-check-btn {
    float: none;
    margin-top: 50px;
    margin-bottom: 30px;
}

.cart-check-btn.vita-check-btn button.checkout-btn {
    padding: 6px 30px;
    font-size: 14px;
}

.title-cart.title-add h1 {
    color: #397d26;
    font-size: 24px;
    margin-bottom: 0;
}

small.sb-title {
    font-size: 14px;
    margin-bottom: 15px;
    display: block;
    color: #666;
}

.br-bottom {
    border-bottom: 1px solid #ddd;
    padding-left: 1px;
}

a.title-cart.title-add:hover,
a.title-cart.title-add:focus,
a.title-cart.title-add:active {
    text-decoration: none;
}

a.title-cart.title-add {
    position: relative;
}

.Shiping-form {
    padding: 20px;
    margin-bottom: 60px;
}

.Shiping-form h2 {
    text-transform: capitalize;
    font-size: 22px;
    margin-top: 0;
    font-family: 'corisandeboldregular';
}

input.input-form-shipping,
textarea.input-form-shipping,
select.input-form-shipping {
    font-family: 'corisandeboldregular';
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f5f5f3;
    color: #7d7373;
}

.group-div {
    margin-bottom: 14px;
}

textarea.input-form-shipping.add-text-area {
    resize: none;
    height: 100px;
}

select.input-form-shipping {
    width: 100%;
    float: left;
}

.selecrtR,
.zip-code {
    float: left;
    width: 49%;
}

.group-div.zip-code input.input-form-shipping {
    width: 100%;
    float: left;
    margin-left: 10px;
}

.cart-check-btn.add-summary {
    padding-top: 10px;
}

.bg-product-wht.form-BG {
    overflow: unset;
    height: 100%;
    max-height: 100%;
}

.btn-form .btn-confurm,
.btn-form.btn-cancel {
    width: 50%;
    float: left;
}

.btn-confurm button.btn-continue,
.btn-confurm a.btn-continue {
    padding: 10px 40px;
    border-radius: 3px;
}

button.checkout-btn.btn-cancel {
    background-color: #ddd;
    border-color: #ddd;
    border-radius: 3px;
    padding: 10px 40px;
    float: right;
}

button.checkout-btn.btn-cancel:hover {
    background-color: #dad3d3;
}

.cart-check-btn.add-summary h3 {
    margin-top: 10px;
    text-align: left;
    padding-right: 26px;
}

.ul-div ul li {
    list-style: none;
    width: 100%;
    clear: both;
    padding: 10px 0;
    font-size: 14px;
    font-family: 'corisandeboldregular';
}

.ul-div ul {
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.ul-div ul li span {
    display: inline-block;
    vertical-align: middle;
}

li.reward-li {
    color: #012169;
    font-weight: bold;
}

ul.order-ul.br-none {
    border-bottom: none;
}

ul.order-ul.br-none li span.pull-left {
    font-size: 22px;
    color: #666;
}

ul.order-ul.br-none li span.pull-right {
    font-size: 22px;
    color: #012169;
}

p.will-order-text {
    text-align: center;
    font-size: 12px;
    color: #666;
}

.bg-product-wht.form-BG .row {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

/****radiobtn  css ***/

.prof-checker input[type="radio"] {
    position: relative;
    margin-right: 5px;
}

.prof-checker input[type="radio"]:checked:before {
    display: block;
    opacity: 1;
    z-index: 1;
}

.prof-checker input[type="radio"]:after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid #012169;
    border-radius: 50%;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.prof-checker input[type="radio"]:before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #012169;
    z-index: 1;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    display: none;
}

/****radiobtn  css****/

.check-cate-box {
    width: 75%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
}

.prof-checker.radioDiv {
    width: 30px;
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.img-radio img {
    width: 50px;
    height: auto;
}

.img-radio {
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.data-text {
    float: left;
    margin-left: 70px;
}

.data-text span {
    display: block;
    margin-bottom: 2px;
    font-family: 'corisandeboldregular';
}

span.radio-Title {
    font-size: 24px;
    text-transform: capitalize;
}

span.radio-Title small {
    color: #012169;
}

span.radio-subtitle,
span.radio-nopotitle {
    font-size: 14px;
    text-transform: capitalize;
}

span.radio-freetitle {
    color: #012169;
    font-style: italic;
}

.add-box-shiping {
    background-color: #ECECEC;
    padding: 14px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

p.name-add span {
    display: block;
    font-weight: bold;
}

p.name-add {
    font-family: 'corisandeboldregular';
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

a.edit-btn {
    text-transform: capitalize;
    font-size: 14px;
    margin: 10px 0;
    display: block;
}

a.edit-btn:hover {
    text-decoration: none;
}

.btn-confurm.btn-delt button.checkout-btn.btn-continue {
    font-size: 12px;
    padding: 10px 20px;
}

.data-radiosec {
    float: left;
    width: calc(100% - 50px);
    position: relative;
    margin-left: 30px;
}

.tab-all-data ul.nav.nav-pills.nav-stacked li {
    width: 100%;
}

.tab-all-data ul.nav.nav-pills.nav-stacked {
    width: 100%;
    height: auto;
    background-color: #ECECEC;
    padding-right: 0;
}

.tab-all-data .nav-pills>li.active>a,
.tab-all-data .nav-pills>li.active>a:focus,
.tab-all-data .nav-pills>li.active>a:hover {
    color: #012169;
    background-color: #fff;
}

.tab-all-data .nav-pills>li>a {
    border-radius: 0;
    text-transform: uppercase;
    color: #666;
    font-family: 'corisandeboldregular';
}

.tab-all-data ul.nav.nav-pills.nav-stacked li a span {
    float: right;
}

.tab-all-data {
    height: 100%;
}

.tab-content.tab-data-right .tab-pane h4 {
    text-transform: uppercase;
    color: #012169;
    margin: 14px 0 20px 0;
    font-family: 'corisandeboldregular';
    float: left;
}

.card-divImg {
    float: none;
    margin: 10px;
}

.card-box-div {
    background-color: #dddddd7a;
    padding: 10px;
    border-radius: 3px;
}

.card-box-div {
    max-width: 450px;
    background-color: #dddddd1f;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #dddddd80;
}

form.card-form .group-div {
    position: relative;
}

span.icon-card img {
    width: 30px;
    position: absolute;
    right: 10px;
    top: 6px;
}

form.card-form input {
    padding: 10px 22px 10px 8px;
}

.card-divImg img {
    margin-left: 8px;
    width: 110px;
    height: auto;
}

.dateInput .group-div select.input-form-shipping {
    width: 100%;
}

.dateInput .group-div.clearfix.selecrtR {
    width: 80px;
    float: left;
}

p.slas-line {
    float: left;
    width: 10px;
    font-size: 30px;
    padding: 0px 0;
    margin: 10px 10px;
    color: #cac6c6;
}

p.slas-ex {
    float: left;
    width: auto;
    font-size: 14px;
    padding: 20px 0;
    margin: 0 10px;
    color: #abaaaa;
}

.cvv-Div {
    float: right;
    width: 120px;
    margin: 10px 0;
}

.cvv-Div .group-div.clearfix.selecrtR {
    margin: 0;
}

form.card-form .cvv-Div input {
    padding: 10px 6px 10px 8px;
}

.btn-form.card-btn {
    margin: 30px 0 20px 0;
}

.cvv-Div .card-divImg {
    position: absolute;
    right: -59px;
    top: 5px;
    margin: 0;
}

.cvv-Div .card-divImg img {
    width: 50px;
    height: auto;
}

span.pay-img img {
    width: 35px;
    height: auto;
    float: left;
    margin-right: 5px;
}

.sure-pay {
    margin: 40px 0 20px 0;
}

span.bold-text-pay {
    display: block;
    font-size: 18px;
    line-height: normal;
    font-weight: bold;
}

span.light-text-pay {
    font-size: 12px;
}

small.thank-text {
    font-size: 16px;
    color: #666;
    text-transform: capitalize;
}

.order-main {
    width: 100%;
}

.order-bg {
    background-color: #f8f8f8;
    width: 100%;
    margin: 20px 0 70px 0;
}

.order-bg.p-0 {
    margin: 0 0 70px 0;
    border: 1px solid #dddddd30;
}

.order-Div small {
    display: block;
    text-transform: uppercase;
    color: #666;
    font-size: 14px;
    margin-bottom: 6px;
}

.order-Div span {
    display: block;
    text-transform: capitalize;
    color: #666;
    font-size: 18px;
}

.order-Div {
    padding: 16px 30px 16px 30px;
    border-bottom: 1px solid #ddd;
}

.order-bg .order-Div:last-child {
    border-bottom: 0;
}

.displayTable {
    display: table;
    width: 100%;
}

.displayRow {
    display: table-row;
    cursor: pointer;
}

.displayRow:hover {
    background-color: #fff;
}
.m-t-20{
    margin-top: 20px;
}
.displaycell {
    display: table-cell;
}

.table-dataBG .displayTable .displayRow .displaycell:nth-child(1) {
    width: 50%;
}

.table-dataBG .displayTable .displayRow .displaycell:nth-child(2) {
    width: 25%;
}
.table-dataBG .displayTable .displayRow .displaycell:nth-child(3) {
    width: 25%;
}
.holder{
    text-align: center;
    padding: 35px;
}
.holder p{
    margin-top: 10px;
    font-size: 16px;
    
}.color-red {
    color: #dc4b4b !important;
}
.displaycell {
    font-size: 18px;
    color: #666;
    padding: 20px 20px 20px 30px;
    text-transform: capitalize;
    border-bottom: 1px solid #ddd;
}

.BR-none {
    border-bottom: 0;
}

/**** {
.bg-product-wht.form-BG .gray-bg-incras {
    height: auto;
}
/******shopping page css ******/

/******correction page css  08-02-18******/

div#page .container {
    max-width: 1368px;
    width: 100%;
    padding: 0;
}

section.topSection p {
    margin-bottom: 0 !important;
}

.product-corosol .slider {
    width: 50%;
    margin: 100px auto;
}

.product-corosol .slick-slide {
    margin: 0px 5px;
}

.product-corosol .slick-slide img {
    object-position: center;
    max-width: 100%;
    width: auto;
    height: 150px;
    margin: 0 auto;
    max-height: 100%;
    padding: 10px;
    object-fit: cover;
}

.product-corosol .slick-prev:before,
.product-corosol .slick-next:before {
    color: #012169;
}

.product-corosol {
    background-color: #fff;
    padding: 14px;
}

a.product-itemSlid {
    display: inline-block;
    background-color: #fff;
    padding: 10px 10px 20px 10px;
    box-shadow: 0 0px 1px 1px #dddddd7a;
    text-align: center;
    height: 270px;
    margin: 2px 0;
}

a.product-itemSlid h5 {
    color: #012169;
    font-size: 16px;
    margin: 10px 0 10px 0;
    font-family: 'corisandeboldregular';
}

a.product-itemSlid:hover {
    text-decoration: none;
}

a.product-itemSlid span {
    display: block;
    color: #0578b5;
    font-size: 14px;
    text-transform: uppercase;
    line-height: normal;
    font-family: 'corisanderegularregular';
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    color: #012169;
}

.btn-confurm.btn-delt {
    margin: 20px 0 7px 0;
}

.inputdiv-btn .btn:focus,
.inputdiv-btn .btn.focus {
    box-shadow: none !important;
}

.inputdiv-btn .btn.active.focus,
.inputdiv-btn .btn.active:focus,
.inputdiv-btn .btn.focus,
.inputdiv-btn .btn:active.focus,
.inputdiv-btn .btn:active:focus,
.inputdiv-btn .btn:focus {
    outline: 0px auto -webkit-focus-ring-color !important;
}

.utility-pAdd {
    padding-top: 40px;
}

/******correction page css  08-02-18******/

/******prodcut-popup page css  12-02-18******/

.click-productVBox {
    display: none;
}

a.addtocart:hover~.click-productVBox {
    display: block;
}
#view_cart_holder_html{
    width: 100%;
}
.click-productVBox {
    display: none;
    position: absolute;
    z-index: 111;
    border: 4px solid #0076b4;
    border-radius: 5px;
    width: 480px;
    /* max-width: 100%; */
    background-color: #fff;
    padding: 20px;
    top: 50px;
    left: -23%;
    right: auto;
}

.VBox-BG-product img {
    width: 120px;
    height: 110px;
    object-fit: scale-down;
}

.VBox-BG-product {
    float: left;
    padding-right: 0;
}

span.name-product-qty {
    font-size: 14px;
    color: #666;
}

.VBox-BG-title h3 {
    color: rgb(1, 33, 105);
    text-align: left;
    font-size: 30px;
    margin-top: 0;
    padding-left: 14px;
    margin-bottom: 24px;
}

.BG-product-text {
    float: left;
    width: calc(100% - 130px);
    text-align: left;
}

span.name-product-text {
    color: rgb(1, 33, 105);
    font-size: 16px;
    display: block;
    font-family: 'corisanderegularregular';
    margin-bottom: 4px;
}

span.nname-product-qty {
    color: #969696;
    font-size: 14px;
    display: block;
    font-family: 'corisanderegularregular';
}

.BG-product-price span {
    display: block;
    margin-bottom: 4px;
    font-family: 'corisanderegularregular';
    line-height: normal;
}

span.product-price-off,
span.product-price-sale {
    color: rgb(1, 33, 105);
    font-size: 14px;
    text-transform: capitalize;
}

span.product-price {
    font-size: 18px;
    color: #666;
}

.total-BG-product {
    width: 100%;
    margin: 20px 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.total-BG-product span.pull-left,
.total-BG-product span.pull-right {
    font-size: 20px;
    color: #666;
    text-transform: none;
}

.btn-BG-product {
    margin: 0 20px;
}

a.product-view-btn {
    padding: 10px;
    display: inline-block;
    border: 2px solid #0076b4;
    font-size: 16px;
    color: #0076b4;
    text-transform: uppercase;
    margin-right: 5px;
}

a.product-view-btn:hover {
    text-decoration: none;
    background-color: #012169;
    color: #fff;
    border: 1px solid #002169;
}

a.product-checkout-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #002169;
    border: 1px solid #002169;
}

a.product-checkout-btn {
    padding: 10px;
    display: inline-block;
    border: 2px solid #0076b4;
    font-size: 16px;
    color: #fff;
    background-color: #0076b4;
    text-transform: uppercase;
    margin-right: 5px;
}
.filter-title {
    color: #012169;
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: 2px solid #012169;
    font-family: 'corisanderegularregular';
    padding-bottom: 5px;
}
.checkout-btn:focus, .checkout-btn:hover {
    color:#fff !important;
    text-decoration: none !important;
}
.cart-is-empty {
    height: 500px;
    /* border: 1px solid #012169; */
    margin: 20px 10px;
    padding: 120px 20px;
    border-radius: 10px;
    text-align: center;
}
.cart-is-empty i {
    color: #a9a3a3;
    font-size: 100px;
}
.cart-is-empty button {
    background-color: #0076b4;
    border: 1px solid #0076b4;
    padding: 10px 20px;
    color: #fff;
    font-family: 'corisanderegularregular';
    text-transform: uppercase;
    margin-top: 20px;
}
/******prodcut-popup page css  12-02-18******/

@media only screen and (max-width: 1599px) {
    div#page .container {
        /* max-width: 1170px; */
        padding: 0 15px;
    }
    /* section.sliderArea .container, section.productsection .container {
        padding: 0 !important;
    } */
    section.sliderArea .container {
        padding: 0 !important;
    }
    .tagsection h3 {
        padding: 24px 0;
        font-size: 20px;
    }
    .foottitle h4 {
        font-size: 32px;
    }
    .bg-menuwhite {
        max-width: 1310px;
    }
    .searchbtn {
        right: 2px;
    }
    .menu-category span {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1399px) {
    .bg-menuwhite {
        max-width: 1290px;
    }
    .dropCart {
        right: -14px;
    }
}

@media only screen and (max-width: 1299px) {
    .bg-menuwhite {
        max-width: 1210px;
    }
}

@media only screen and (max-width: 1199px) {
    .title-cart h1,
    .cart-check-btn.add-summary h3 {
        font-size: 30px;
    }
    button.checkout-btn {
        font-size: 14px;
    }
    .inputdiv {
        width: 50px;
    }
    .incres-price-dark span {
        font-size: 13px;
    }
    .incres-price-light span {
        font-size: 13px;
    }
    .img-cart {
        width: 160px;
    }
    .product-sec-part img {
        width: 170px;
    }
    .cvv-Div {
        width: 28%;
    }
    .cvv-Div .card-divImg {
        right: auto;
        left: 60px;
    }
    div#page .container {
        max-width: 1070px;
    }
    .bg-menuwhite {
        max-width: 1010px;
    }
    .btn-confurm button.btn-continue,
    .btn-confurm a.btn-continue {
        padding: 10px 30px;
        font-size: 12px;
    }
    ul.order-ul.br-none li span.pull-left,
    ul.order-ul.br-none li span.pull-right {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1024px) {
    /* div#page .container {
        max-width: 990px;
    } */
    .bg-menuwhite {
        max-width: 950px;
    }
    .menu-title h3 {
        font-size: 22px;
    }
    .sum-menu-style ul li a {
        font-size: 10px;
    }
    .menu-category span {
        font-size: 10px;
    }
    .menu-category ul li a {
        font-size: 10px;
    }
    .menu-title h3 {
        font-size: 18px;
    }
    input.searchfield {
        padding: 0 100px 0 46px;
        font-size: 10px;
        background: url(../img/searchicon.png) no-repeat 10px 50%;
    }
    .searchbtn {
        width: 90px;
    }
    .Shiping-form {
        padding: 0;
    }
    .check-cate-box {
        width: 85%;
    }
}

@media only screen and (max-width: 991px) {
    .img-cart {
        width: 100px;
    }
    .remove-product a {
        font-size: 12px;
    }
    h4.cart-title-img {
        font-size: 14px;
    }
    span.vitmsapn,
    span.vitmsapn-item,
    span.vitmsapn-point {
        font-size: 14px;
    }
    .inputdiv {
        width: 35px;
    }
    .gray-bg-incras button.btn.btn-number {
        font-size: 8px;
    }
    .inputdiv input {
        height: 46px;
    }
    .incres-price-dark span {
        font-size: 10px;
    }
    .incres-price-light span {
        font-size: 10px;
    }
    .product-div-sec {
        padding: 20px 30px;
    }
    .product-sec-part img {
        width: 110px;
    }
    h4.titleD {
        font-size: 18px;
    }
    p.priceD {
        font-size: 16px;
    }
    .cart-check-btn.vita-check-btn button.checkout-btn {
        padding: 6px 20px;
        font-size: 12px;
    }
    .Shiping-form h2 {
        font-size: 16px;
    }
    .btn-confurm {
        margin-bottom: 10px;
    }
    ul.nav.nav-pills.nav-stacked.col-md-4 {
        max-width: 100%;
    }
    .tab-content.tab-data-right.col-md-8 {
        max-width: 100%;
    }
    .cvv-Div .card-divImg {
        right: 0;
        left: 62px;
    }
    .logo a {
        display: inline-block;
    }
    .blueBar-Right {
        position: absolute !important;
    }
    .tagsection h3 {
        padding: 20px 0;
        font-size: 16px;
    }
    .searcharea {
        margin: 5px 0;
    }
    .foottitle h4 {
        font-size: 28px;
    }
    .check-cate-box {
        width: 95%;
    }
    span.radio-Title {
        font-size: 18px;
    }
    .add-box-shiping {
        padding: 10px;
    }
    .btn-confurm button.btn-continue,
    .btn-confurm a.btn-continue {
        padding: 8px 30px;
    }
    a.checkout-btn.btn-continue {
        padding: 8px 8px;
    }
    p.name-add {
        font-size: 13px;
    }
    .logo img {
        margin: 0 !important;
        padding: 12px 0 0 0 !important;
    }
    ul.order-ul.br-none li span.pull-left {
        font-size: 12px;
    }
    ul.order-ul.br-none li span.pull-right {
        font-size: 12px;
    }
    .data-radiosec {
        width: calc(100% - 40px);
    }
    .title-cart h1,
    .cart-check-btn.add-summary h3 {
        font-size: 26px;
    }
    .ul-div ul li {
        font-size: 12px;
    }
    button.checkout-btn {
        font-size: 12px;
    }
    button.checkout-btn.btn-cancel {
        padding: 8px 40px;
    }
    a.product-itemSlid {
        height: 260px;
    }
    footer {
        padding: 49px 30px 0px;
    }
    .utility-pAdd {
        padding-top: 20px;
    }
    .producttitlearea h2 {
        font-size: 16px;
    }
    .img-cart-div {
        width: 65px;
    }
    .bg-product-wht {
        max-height: 416px;
    }
    .cat-product-con {
        width: 50% !important;
    }
    .click-productVBox {
        border-radius: 3px;
        width: 430px;
        padding: 10px;
        top: 100px;
    }
    .VBox-BG-title h3 {
        font-size: 26px;
        margin-bottom: 14px;
    }
    .total-BG-product span.pull-left,
    .total-BG-product span.pull-right {
        font-size: 16px;
    }
    a.product-view-btn,
    a.product-checkout-btn {
        font-size: 14px;
    }
    .VBox-BG-product img {
        width: 110px;
        height: 100px;
    }
}

@media only screen and (max-width: 767px) {
    .incres-price-light,
    .incres-price-dark {
        width: 60px;
    }
    .incres-div {
        width: 100px;
    }
    .inputdiv {
        width: 50px;
    }
    .incres-price-light span,
    .incres-price-dark span {
        font-size: 14px;
        line-height: 50px;
    }
    .gray-bg-incras {
        padding: 10px 10px 10px 10px;
        vertical-align: middle;
        display: inline-block;
        margin-top: 5px;
        height: auto;
    }
    .product-div-sec {
        padding: 20px 10px;
    }
    .img-cart {
        width: 100px;
    }
    .product-sec-part img {
        width: 100px;
    }
    .cart-check-btn.add-summary h3 {
        display: none;
    }
    .order-bg {
        margin: 20px 0 10px 0;
    }
    .cvv-Div .card-divImg {
        left: 60px;
    }
    /* span.icon-card img {
        width: 5%;
    } */
    .check-cate-box {
        width: 100%;
    }
    .searchbtn {
        right: 16px !important;
    }
    .gray-bg-incras {
        padding: 10px 10px 10px 10px;
        vertical-align: middle;
        display: inline-block;
        margin-top: 5px;
    }
    .click-productVBox {
        left: 0;
        right: auto;
        border: 2px solid #0076b4;
        width: 340px;
        top: 20px;
    }
    .VBox-BG-product {
     width: 100%;
     float: none;
     margin-bottom: 10px;
    }
    .BG-product-price {
        position: absolute;
        right: 10px;
        top: -62px;
    }
    span.name-product-text {
        font-size: 14px;
  }
    span.name-product-qty {
        font-size: 12px;
   }
   span.product-price-off, span.product-price-sale {
    font-size: 12px;
 }
 span.product-price {
    font-size: 16px;
}
.total-BG-product span.pull-left, .total-BG-product span.pull-right {
    font-size: 14px;
}
.VBox-BG-title h3 {
    font-size: 30px;
     padding-left: 0;
    margin-bottom: 24px;
    text-align: center;
}
.btn-BG-product {
    width: 100%;
}
a.product-view-btn, a.product-checkout-btn {
    font-size: 12px;
}
.btn-BG-product a {
    width: 45%;
}

}

@media only screen and (max-width: 580px) {
    .cvv-Div {
        width: 100%;
    }
    .cvv-Div .card-divImg {
        left: 185px;
    }
    span.icon-card img {
        width: 30px;
    }
    .cvv-Div .card-divImg {
        right: -70px;
        left: auto;
    }
    .cart-img-data {
        margin-left: 5px;
        width: calc(100% - 110px);
    }
    .utility-pAdd {
        padding-top: 0;
    }
    .cat-product-con {
        width: 100% !important;
    }
}

@media only screen and (max-width: 480px) {
    .title-cart h1,
    .cart-check-btn.add-summary h3 {
        font-size: 20px;
        margin: 0;
    }
    button.checkout-btn {
        font-size: 12px;
        padding: 10px 10px;
    }
    /* .img-cart {
        width: 80px;
    } */
    h4.cart-title-img {
        font-size: 14px;
    }
    span.vitmsapn,
    span.vitmsapn-item,
    span.vitmsapn-point {
        font-size: 12px;
    }
    .remove-product a {
        font-size: 14px;
    }
    .remove-product a span {
        font-size: 15px;
    }
    .incres-price-light,
    .incres-price-dark {
        width: 25%;
        text-align: center;
    }
    .incres-div {
        width: 30%;
    }
    .incres-price-light span,
    .incres-price-dark span {
        font-size: 14px;
        line-height: 50px;
    }
    .inputdiv input {
        height: 40px;
    }
    .gray-bg-incras button.btn.btn-number {
        font-size: 10px;
        padding: 3px 5px;
    }
    .product-sec-part.col-md-3 {
        width: 50%;
    }
    .customTitle-div h4 {
        font-size: 14px;
    }
    .gray-bg-incras {
        height: 70px;
    }
    .bg-product-wht.form-BG .gray-bg-incras {
        height: auto;
    }
    .img-cart {
        width: 100%;
    }
    .inputdiv input {
        height: 47px;
    }
    .cart-img-data {
        width: 100%;
        padding-top: 30px;
        text-align: center;
    }
    .price-box-podcut.clearifx {
        width: 280px;
        margin-bottom: 10px;
    }
    .incres-div {
        width: 48%;
        padding-left: 40px;
    }
    .Shiping-form h2 {
        font-size: 14px;
    }
    .selecrtR,
    .zip-code {
        float: none;
        width: 100%;
    }
    .group-div.zip-code input.input-form-shipping {
        float: none;
        margin-left: 0;
    }
    ul.order-ul.br-none li span.pull-left {
        font-size: 14px;
    }
    ul.order-ul.br-none li span.pull-right {
        font-size: 16px;
    }
    .btn-confurm button.btn-continue {
        padding: 10px 20px;
    }
    button.checkout-btn.btn-cancel {
        padding: 10px 20px;
    }
    span.radio-Title {
        font-size: 14px;
    }
    span.radio-subtitle,
    span.radio-nopotitle {
        font-size: 10px;
    }
    span.radio-freetitle {
        font-size: 10px;
    }
    .cvv-Div {
        width: 50%;
        float: left;
    }
    .card-divImg {
        margin-left: 5px;
    }
    .sure-pay {
        margin: 20px 0 20px 0;
    }
    /* .dateInput .group-div.clearfix.selecrtR {
        width: 21%;
    } */
    .blueBar-Right {
        right: 0px !important;
    }
    .foottitle h4 {
        font-size: 20px;
    }
    .proimg {
        float: none !important;
        text-align: center;
    }
    .proimg a {
        display: inline-block;
    }
    .producttitlearea h2 {
        text-align: center;
        font-size: 20px;
    }
    .produtbox h3 {
        font-size: 20px;
    }
    .produtbox h4 {
        font-size: 18px;
    }
    .addtocart {
        width: 80%;
        height: auto;
        font-size: 18px;
        padding: 10px 0;
    }
    .searchbtn {
        width: 58px !important;
        right: 15px !important;
    }
    .logo img {
        margin: 0 !important;
        padding: 18px 0 0 0 !important;
    }
    input.searchfield {
        background: url(../img/searchicon.png) no-repeat 10px 48%;
    }
    li.cartlink {
        position: absolute;
        right: 0;
    }
    .btn-checkout a.addtocart.check-out {
        padding: 12px 30px;
        width: auto;
        font-size: 10px;
    }
    .cart-orderover h4 {
        font-size: 10px;
        margin: 10px 0;
    }
    .dropCart h3 {
        font-size: 14px;
    }
    .dropCart p {
        font-size: 14px;
        margin-bottom: 16px;
    }
    .data-radiosec {
        width: calc(100% - 33px);
    }
    .dropCart {
        right: 10px;
    }
    .data-cart-div {
        width: calc(100% - 70px);
    }
    .img-cart-div {
        width: 55px;
        margin-right: 12px;
    }
    .data-cart-div span.product-name {
        font-size: 12px;
    }
    .data-cart-div span.product-title {
        font-size: 12px;
    }
    .data-cart-div span.product-qty {
        font-size: 12px;
    }
    .btn-form .btn-confurm,
    .btn-form.btn-cancel {
        width: auto;
    }
    .tagsection h3 {
        font-size: 14px;
    }
    .producttitlearea h2 {
        font-size: 14px;
    }
    span.pay-img img {
        width: 30px;
    }
    span.bold-text-pay {
        font-size: 16px;
    }
    .slick-prev:before,
    .slick-next:before {
        font-size: 20px;
    }
    ul.cart-ul {
        overflow-y: auto;
        max-height: 205px;
    }
    .tital-btn .cart-check-btn {
        padding-top: 0;
    }
    .tital-btn {
        padding: 14px 0 14px 10px;
    }
    .dateInput .group-div.clearfix.selecrtR {
        width: 70px;
    }
    .dateInput .group-div select.input-form-shipping {
        padding: 10px 5px;
    }
    .tab-content.tab-data-right .tab-pane h4 {
        margin: 16px 0 10px 0;
    }
    p.slas-line {
        font-size: 28px;
        margin: 10px 6px;
    }
    .tab-content.tab-data-right.col-md-8 {
        padding: 0;
    }
    .img-cart-div img {
        height: 70px;
    }
}

@media only screen and (max-width: 320px) {
    h4.titleD {
        font-size: 14px;
    }
    p.priceD {
        font-size: 14px;
    }
    .cart-check-btn.vita-check-btn {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .cart-check-btn.vita-check-btn button.checkout-btn {
        padding: 6px 14px;
        font-size: 8px;
    }
    .customTitle-div h4 {
        font-size: 10px;
    }
    .incres-div {
        padding-left: 25px;
    }
    .dateInput .group-div.clearfix.selecrtR {
        width: 60px;
    }
    .dateInput .group-div.clearfix.selecrtR {
        width: 60px;
    }
    input.input-form-shipping,
    textarea.input-form-shipping,
    select.input-form-shipping {
        padding: 10px 5px;
    }
    p.slas-ex {
        font-size: 12px;
        margin: 0 2px;
    }
    .addtocart {
        font-size: 16px;
    }
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
    font-family: 'corisandeboldregular';
}

body {
    font-family: 'corisandeboldregular' !important;
}

a.checkout-btn.btn-continue:hover {
    text-decoration: none;
    color: #fff;
}