@media (min-width: 1200px) and (max-width: 1440px) {
.logoin {width: 70%;}	
.tagicon {position: absolute;top: 0;right: 15px;}
}
@media (min-width: 992px) and (max-width: 1199px) {
.navarea ul li {padding: 0 0 0 0;}
.dropsignin { background: #fff;}
.logoin {width: 95%;}
.topMid {padding: 0;}
.tagsection h3{ font-size:18px;}
.proimg {float: left;width: 100%;padding: 15px 0;}
.p-details {float: left;width: 100%;padding-left: 0;text-align: center;}
.addtocart { margin: 20px auto 0;}
.iconSection ul li a {font-size: 120%;line-height: 26px;}
.cat-product-con {width: 50%;}
}

@media (min-width: 768px) and (max-width: 991px) {
.topLt{ display:none;}
.blueBar-Right ul li.signin, .blueBar-Right ul li.reorder{ display:none;}
.topblueBar{ position:relative;}
.blueBar-Right{ position:absolute; top:0; right:0;}
.logo {width: 100%;max-width: 100%;text-align: center;flex: 100%;padding: 0;}
.logo img {margin: 15px 0 11px;padding: 0;}
.navarea{ display:none;}
.searcharea{ width:100%; width: 100%;max-width: 100%; flex: 100%;}
.mainNavBar{ padding:0;}

.proimg {float: left;width: 100%;padding: 15px 0;}
.p-details {float: left;width: 100%;padding-left: 0;text-align: center;}
.addtocart { margin: 20px auto 0;}
.iconSection ul li a {font-size: 110%;line-height: 26px;}
.footbottom ul li:first-child{ display:block; width:100%; padding:0; margin:0 0 25px;}
.cat-product-con {width: 100%;}
}

@media (min-width: 481px) and (max-width: 767px) {
.topLt{ display:none;}

.blueBar-Right ul li.signin, .blueBar-Right ul li.reorder{ display:none;}
.topblueBar{ position:relative;}
.blueBar-Right{ position:absolute; top:0; right:0; padding:0;}
.logo {width: 100%;max-width: 100%;text-align: center;flex: 100%;padding: 0;}
.logo img {margin: 15px 0 11px;padding: 0;}
.navarea{ display:none;}
.searcharea{ width:100%; width: 100%;max-width: 100%; flex: 100%;}
.mainNavBar{ padding:0;}

.proimg {float: left;width: 100%;padding: 15px 0;}
.p-details {float: left;width: 100%;padding-left: 0;text-align: center;}
.addtocart { margin: 20px auto 0;}
.iconSection ul li a {font-size: 110%;line-height: 26px;}
.footbottom ul li:first-child{ display:block; width:100%; padding:0; margin:0 0 25px;}
.productslider ul li{ width:50%;}
.productslider ul li.linenone{ border:none !important;}
.productslider ul li.hide481{ display:none;}
.iconSection ul li {display: block;text-align: center;list-style: none;width: 50%;float: left;}
.iconSection ul li:last-child{ width:100%;}
.topRt{ display:none;}
.sliderArea .container{ padding:0;} 
.searcharea{ padding:0;}
.searchbtn{ right:0;}
.searchbtn {background: url(../img/search-icon-.png) no-repeat 50% 50% #007dc6;width: 63px;font-size: 0px;}
.rightside {width: 100%;max-width: 100%;flex: 100%;}
.leftside{ display:none;}

.similaritemsList ul li{ display:block; list-style:none; width:50%; border:1px solid #ccc; float:left;}
.similaritems h2 {font-size: 36px;}


}

@media (min-width: 290px) and (max-width: 480px) {
.topLt{ display:none;}
.blueBar-Right ul li.signin, .blueBar-Right ul li.reorder{ display:none;}
.topblueBar{ position:relative;}
.blueBar-Right{ position:absolute !important; top:0; right: -13px; padding:0;}
.logo {width: 100%;max-width: 100%;text-align: center;flex: 100%;padding: 0;}
.logo img {margin: 20px 0 18px;padding: 0;width: 124px;}
.searcharea{ padding:0;}
.searchbtn{ right:0;}
.navarea{ display:none;}
.searcharea{ width:100%; width: 100%;max-width: 100%; flex: 100%;}
.mainNavBar{ padding:0;}

.proimg {float: left;width: 100%;padding: 15px 0;}
.p-details {float: left;width: 100%;padding-left: 0;text-align: center;}
.addtocart { margin: 20px auto 0;}
.iconSection ul li a {font-size: 110%;line-height: 26px;}
.footbottom ul li:first-child{ display:block; width:100%; padding:0; margin:0 0 25px;}
.productslider ul li{ width:100%; border:none !important;}
.productslider ul li.linenone{ border:none !important;}
.productslider ul li.hide481{ display:none;}
.iconSection ul li {display: block;text-align: center;list-style: none;width: 100%;float: left;}
.iconSection ul li:last-child{ width:100%;}
.topRt{ display:none;}
.sliderArea .container{ padding:0;} 
.dropCart {width: 288px;height:auto;}
.footcon{ padding-top:25px;}
.searchbtn {background: url(../img/search-icon-.png) no-repeat 50% 50% #007dc6;width: 63px;font-size: 0px;}
.leftside{ display:none;}

.similaritemsList ul li{ display:block; list-style:none; width:100%; border:1px solid #ccc; float:left;}
.similaritems h2 {font-size: 28px;}
.ingredients p { font-size:14px; padding:0 0px; font-family: 'corisanderegularregular';}
.ingredients h4 { padding:25px 0 0;}
}


@media (min-width: 290px) and (max-width:991px) {
.mobilemenu {display: block !important;z-index: 9999999999999999999;}
.mm-opened .mobilemenu .menuicon img{ display:none;}
.mm-opened .mobilemenu .menuicon img.closeicon{ display:block !important;}
.logo { margin: -54px 0 0;}
.mobiletitlearea{ display:block;}
.cat-product-con {width: 100%;}
.productpagebreadcrumb ul{ width:100%; text-align:center;}
.productpagebreadcrumb ul li { display:inline-block; float:none; text-align:center;}
.productpagebreadcrumb ul li { display:none;}
.productpagebreadcrumb ul li:last-child{ display:block !important;}
.productpagebreadcrumb ul.printemaillink li{ display:inline-block !important; padding:0 10px !important;}
.productpagebreadcrumb ul.printemaillink li a{ display:block;}

}